li a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 10%;
  font-family: Helvetica;
  font-size: 1em;
  font-weight: bold;
  margin: 8% 30% 0% 200%;
  padding: 4px 80px;
  color: black;
  float: left;
  width: 100%;
}

li {
  display: inline-block;
}

.container_main {
  display: table;
  margin: 0 auto;
  z-index: "1";
}

.container_main p {
  display: inline-block;
  background-color: red;
  padding: 10px 10px;
  font-family: Helvetica;
  z-index: "2";
  margin-left: -320px;
}

.thumbnails {
  margin: 0 auto;
  display: table;
  font-family: 'Patua One', cursive;
}

#thumb-b, #thumb-s, #thumb-p {
  height: 300px;
  width: auto;
  display: inline-block;
  margin-left: 35px;
  margin-top: 100px;
  margin-bottom: 100px;
}

#thumb-b {
  margin-left: 0px !important;
}

.quick_info {
  display: table;
  margin: 0 auto;

}
