body {
	font-family: helvetica, sans-serif;
	color: black;
}


/** Typography **/
h1{
	font-family: Helvetica, sans-serif;
	color: black;
	font-size: 2.5em;
	font-style: oblique;
	margin-bottom: 20px;
}

h2 {

}

h3 {
	text-align: right;
	font-family: 'Allerta', sans-serif;
	font-size: 1.2em;
	color: red;
}

p {
	line-height: 22px;
}

a {
	color: black;
}

a:hover {
	color: red;
}


/** Head & Nav **/
#logo {
  position: absolute;
	top: 0;
	left: 0;
}

nav {
  text-align: center;
  border-bottom-style: double;
  padding: 47px;
}

nav a {
  text-decoration: none;
  padding: 5%;
  font-weight: bold;
}

/**----------index.html----------**/
/** Main Photo **/
.main_photo_container {
	position: relative;
	text-align: center;
	margin-top: 2%;
}

.overset {
	position: absolute;
  bottom: 50px;
  left: 850px;
}

.overset p {
	background: red;
	padding: 10px;
	font-family: 'Source Sans Pro';
	color: white;
}


/** Center Text Container **/
.text_container {
	width: 65%;
	margin: 80px auto;
	padding: 60px 50px;
	border-top: 2px;
	border-bottom: 2px;
	border-style: solid;
}

.text_container p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 1.2em;
	line-height: 1.6em;
}

.text_container span {
	font-size: 1.5em;
	color: red;
}

/** Thumbnails **/
.thumbnails {
	text-align: center;
}

.thumbnails img {
	padding: 20px;
}

#thumb-b:hover {
  content: url('../images/s_hover.jpg');
}

#thumb-s:hover {
  content: url('../images/s_hover.jpg');
}

#thumb-p:hover {
  content: url('../images/s_hover.jpg');
}

/** Wrapper for margins for history.html– **/
.wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 20px 0px;
	display: table;
	margin: 0px auto;
	text-align: center;
}

/**----------history.html----------**/

#opening_img {
	display: table;
	margin: 0px auto;
	width: 90%;
}

.container {
	width: 100%;
}

.overlay_text {
	position: absolute;
  left: 50px;
}

.overlay_text p {
	padding: 10px;
	font-family: 'Source Sans Pro';
	color: gray;
	width: 50%;
}

.container img {
	display: inline-block;
	float: right;
	margin: 80px 40px;
}
